
.board-header{
    text-align: center;
    font-family: 'Courier New';
    background-color: #f3f3f3;
    padding: .9em;
    border-radius: 15px;
    font-family: 'Courier New';
    width: 25%
}

.main-container{
    /* border: 2px black solid; */
    padding: 40px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
 /* padding: "1rem 0" } */

.board-container {
    /* border: 2px red solid; */
    display: flex;
    flex-direction: column;
    width: 70%
}

