.card {
    width: 30vh;
    height: 30vh;
    border-radius: 5%;
    border: 0px;
    font-size: 2.5em;

    background: linear-gradient(rgb(181, 217, 251),rgb(179, 233, 233));
    color: white;
}

.card button {
    background: linear-gradient(rgb(179, 233, 233), rgb(181, 217, 251));
    border-color: white;
    border-radius: 5px;
    font-size: .75em;

}
.card button:hover {
    background:transparent
}