.new-board-form {
    /* border: 2pt solid rgb(223, 156, 125); */
    background: whitesmoke;    
    border-radius: 5%;
    width: 50vh;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;

    text-align: center;
    padding: 2em;
}

.submit-button:hover {
    color: white;
}

input {
    background-color: transparent;
    border-width: 1px;
}