a {
    text-decoration: none;
}

.boardName {
    font-family: 'Indie Flower', cursive;
    color: white;
    line-height: 4rem;
    font-size: 2.5rem;
    margin-right: 5vw;
    text-align: center;
}

.boardName:hover {
    color: white;
    font-size: 2.75rem;
}

.boardList {
    margin-top: 18vh;
    text-align: center;
}

.boardTitle{
    font-family: 'Fredericka the Great', cursive;
    color: white;
    font-size: 5rem;
}

.list {
    margin-top: 10vh;
    width: 100%;
    height: 300px;
    overflow: scroll;}

@media screen and (max-width: 768px) {
    .boardName {
      font-size: 1.5rem;
    }

    .boardName:hover {
        color: white;
        font-size: 1.75rem;
    }
}