a {
  text-decoration: none;
}

.boardName {
  font-family: 'Indie Flower', cursive;
  color: white;
  line-height: 4rem;
  font-size: 2.5rem;
  margin-right: 5vw;
  text-align: center;
}

.boardName:hover {
  color: white;
  font-size: 2.75rem;
}

.boardList {
  text-align: center;
  overflow: auto;
}
.mainBoardTitle {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 5rem;
}
/* .boardTitle {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 5rem;
} */

.trash-can {
  color: white;
  background: none;
  border: none;
}

.trash-can:hover {
  font-size: 1.2rem;
}

/* cards trashcan and heart css */
.card-trash-can:hover {
  font-size: 1.2rem;
}
.heart:hover {
  font-size: 1.2rem;
}

.card {
  background: none;
  color: white;
  border-color: white;
  border-style: dashed;
}

.classList {
  margin-left: 100px;
}

@media screen and (max-width: 768px) {
  .boardName {
    font-size: 1.5rem;
  }

  .boardName:hover {
    color: white;
    font-size: 1.75rem;
  }
}
