li {
  list-style: none;
}

.boardName {
  font-family: 'Indie Flower', cursive;
  color: white;
  line-height: 4rem;
  font-size: 2.5rem;
  margin-right: 5vw;
  text-align: center;
  text-transform: capitalize;
}

.boardName:hover {
  color: white;
  font-size: 2.75rem;
}

.boardTitle {
  font-family: 'Fredericka the Great', cursive;
  color: white;
  font-size: 3rem;
  padding-top: 5vh;
  padding-bottom: 1vh;
  width: 100%;
  text-transform: capitalize;
}

.cardsList {
  display: flex;
  justify-content: center;
  align-content: space-between;
  margin-top: 0.1vw;
  margin-bottom: 2.5vw;
  padding-left: 5.2%;
  flex-wrap: wrap;
  width: 100%;
  height: 80%;
  /* overflow: scroll; */
  /* -ms-overflow-style: none;   */
  /* scrollbar-width: none;   */
}

/* .cardsList::-webkit-scrollbar {
  display: none;
} */

.container {
  max-width: 90%;
  height: 92%;
}

.back-btn {
  color: white;
  background: none;
  border: none;
  font-family: 'Fredericka the Great', cursive;
  font-size: 1.7rem;
  text-align: left;
}

.back-btn:hover {
  font-size: 1.9rem;
}

.board-nav {
  display: flex;
  justify-content: space-between;
  padding-bottom: 1.5vw;
}
