.board-btn {
  color: white;
  font-family: 'Fredericka the Great', cursive;
  background: none;
  border: none;
  font-size: 1.5rem;
}

.board-btn:hover {
  color: white;
  background-color: none;
  border: none;
  font-size: 1.8rem;
}

.header {
  background-image: url('../../images/chalkboard.png');
  color: white;
}

.modal-btns {
  display: flex;
  justify-content: right;
}

.success-btn {
  margin-right: 1vw;
}
