.board-button {
    font-size: 1em;
    width: 20vh;
    height: 10vh;
    border-radius: 5%;
    border: 0px
}

.board-button:hover {
    background-color: rgb(223, 156, 125);
    font-weight: bold;
}