.board__selected {
    background-color: #FCD5CE;
    cursor: pointer;
}

.board__selected:hover {
    cursor: pointer;
}

.board-list {
    cursor: pointer;
}

.delete-board-btn {
    margin: 5%;
    color: #000;
    background-color: #fff;
    border-color: #F9DCC4;
    border-style: solid;
    border-width: medium;
}

.delete-board-btn:hover {
    background-color: #F9DCC4;
    cursor: pointer;
}