
li{
  
    list-style: none;
    margin: 10px 0;

  }
  .list{
    text-align: left; 
    margin:20px 150px;

  }

  #delete-board {
    font-size: 1em;
    background-color: transparent;
    color:aqua;
    border: none;
  }

  #edit-board {
    font-size: 1.4em;
    background-color: transparent;
    color:aqua;
    border: none;
  }
  
  #delete-board:hover {
    color: rgb(255, 55, 55);
  }

  #edit-board:hover {
    color: rgb(221, 35, 190);
  }