/* .single-board {border:1px solid blue;} */

.boards-display {
  display: flex;
  flex-flow: row wrap;
  
  justify-content: center;
  
}

.single-board {
    width: 20vw;
    margin: 1vw;
    border: 1px solid blue
}

