.single-board button {
    background-color: #8ec0c7;
    height: 60px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;
    margin: 0px 8px;
    font-size: 20px;
    font-family: 'Pacifico';
}

.single-board button:hover {
    cursor: pointer;
    background-color: #71b8c1;
    box-shadow: 4px 4px 7px #c1f8ff;
    transform: scale(1.05)
    }

.remove-board-button {
    width: 10%;
}

.get-board-button {
    width: 90%;
}

.single-board {
    display: flex;
}

