
.board{
    text-align: center;
    margin-left: 50px;
}
#board-owner{
    color:rgb(132, 213, 132);
    font-weight:550;
}

#board_title{
    color:rgb(69, 191, 196);
    font-size: 2em;
    font-weight: bolder;
}

section {
    text-align: left;
    margin-left:21%;
    color:rgb(99, 247, 198);
    text-shadow:
    0 0 7px rgb(193, 241, 230),
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #0fa,
    0 0 102px #0fa,
    0 0 151px #0fa;
}
