
.board{
    text-align: center;
    margin-left: 50px;
}
#board-owner{
    color:rgb(132, 213, 132);
    font-weight:550;
}

#board_title{
    color:rgb(69, 191, 196);
    font-size: 2em;
    font-weight: bolder;
}

