.cards{
	display: flex;
	flex-direction:row;
	justify-content: flex-start;
	align-content: flex-start;
	width: 100%;
	margin-left: 2em;
	margin-right: 4em;
	flex-wrap: wrap;
}

.cardsTitle{
	color: white;
	font-size: 2em;
	margin: .5em;
	width: 100%;
	height: fit-content;
}
