.card-list {
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    justify-self: center;

    /* max-width: 60vw; */
}

.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.sort-by-label {
    text-align: center;
    margin-bottom: 10pt;
}