.cards-container{
    display: flex;
    flex-wrap: wrap;
}

.cards-container li {
    list-style: None;
    background-color: #C2631A;
    display: inline-block ;
    width: 250px;
    height: 250px;
    margin: 7px;
    padding: 10px;
    text-align: center;
}

.like {
    background-color: rgb(129, 180, 129);
    color: white;
    border: none;
    padding: 7px;
    border-radius: 5px;
    margin: 1px;
}

.like:hover {
    cursor: pointer;
}
