.cardItem {
    background: #ffffbf;
    width: 200px;
    margin: 10px;
    text-align: center;
    outline: 2px solid darkgray;
}

.cardList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}