.card__item{
	width: 9.5rem;
	height: 10rem;
	margin: 3px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content:center;
	border-radius: 10px;
	text-align: center;
	padding: .2em;
}

.liked{
	width: fit-content;
	align-self: center;
	border:none;
}
.delete{
	width: fit-content;
	align-self: center;
	border-radius:10px;
}
.message {
	font-weight: bolder;
	font-style: italic;
}