* {
    margin: 10px auto;
    font-family:'Times New Roman', Times, serif;
}

ul,li{
    list-style:none;
}

ul {
    padding-left: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    text-decoration:none;
    color:#000;
    background:#ffc;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    display:flex;
    height:15em;
    width:15em;
    padding:1em;
}
.handwritten {
    font-family: 'Reenie Beanie';
    font-size: 2rem;
}
ul li{
    margin:0.5em;
}

/* .bottomicon {
    align-self: flex-end;
    align-content: flex-end;
} */
.bottomicon {
    display: flex;
    justify-content: center;
    align-self:flex-end;
    margin-top: auto;
}