.card__item{
	background-color: bisque;
	width: 9.5rem;
	height: 10rem;
	margin: 3px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-content:center;
	border-radius: 10px;
	text-align: center;
	padding: .2em;
}

.delete, .liked{
	width: fit-content;
	align-self: center;
	background-color: bisque;
	border:none;
}