.new-board-form {
    grid-column-start: 1;
    grid-row-start: 2;
    border-radius: 5px;
    max-height: fit-content;
    /* display: inline; */
    background-color: #8ec0c7;;
    box-shadow: 7px 7px 10px #2134389f;
}