.new-board__form {
    display: flex;
    justify-content: left;
}

.new-board__fields {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 500x;
    row-gap: 10px;
}

.new-board__submit {
    grid-column: span 2;
}

.form-errors {
    font-size: x-small;
    color: red
}