

.btn#submit{
	background-color: #D6FA8A;
	min-width: 100% !important;
	color: black;
	border-color: black;
  }
.btn#dropdown-menu-align-end{
	width: 12rem !important;
	background-color: rgb(227, 222, 222) !important;
	color: black !important;
}

form{
	margin: 7px;
}

.color-picker{
	display: flex;
	justify-content: space-around;
	flex-direction: column;
	align-items:flex-start;
}

#exampleColorInput{
	align-self: center;
}

.hide{
	display: none;
}

.text-muted{
	color: red !important;
}
