.new-card-form {
    border: 2pt solid rgb(223, 156, 125);
    border-radius: 5%;
    width: 50vh;
    background-color: rgb(239, 237, 237);
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;

    text-align: center;
    padding: 2em;
}