.new-card-form {
    border: 2pt solid teal;
    border-radius: 5%;
    width: 50vh;
}

.form-content {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 10px;

    text-align: center;
    padding: 2em;
}