@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;800&family=Zen+Tokyo+Zoo&display=swap');

a {
	text-decoration: none;
}

body{
	font-family: 'Montserrat', sans-serif;
	background-color: #F5F5F5; /* light gray */
}
select{
	font-family: 'Montserrat', sans-serif;
	height:2.5em;
	width:97%;
	border:1px solid  #4C6F29; /* medium green */
	border-radius:0.4375em;
	margin-left: 1em;
	margin-right: 0px;
	margin-top: 1em;
	margin-bottom: 0em;
}
button, input[type=submit]{
	font-family: 'Montserrat', sans-serif;
	background-color: #4C6F29; /* medium green */
	height:2.5em;
	width:9.375em;
	border:0.0625em solid  #4C6F29; /* medium green */
	margin:1em;
	border-radius:7px;
	color: white;
	display: inline-block;
}

button:hover, input[type=submit]:hover{
	background-color: #789060; /* light-ish green */
	color: white;
}

h1 {
	font-size: 36px;
	text-align:center;
	margin-block-start: 0;
    margin-block-end: 0;
}

.dropdown-sort {
	width: 50%;
	display: inline-block;
}
.dropdown-sort-container {
	width: 45em;
	margin: auto;
}
.board-title{
	color: #4C6F29; /* medium green */
}

.board-input {
	font-family: 'Montserrat', sans-serif;
	height:2.2em;
	width:39%;
	border:1px solid  #4C6F29; /* medium green */
	border-radius:7px;
	margin: 16px;
	display: inline-block;
}

.board-button {
	width:10%;
}

.board-button:disabled{ 
	background-color: gray;
}
.board-button:disabled:hover{
	background-color: gray;
}

.message-input {
	font-family: 'Montserrat', sans-serif;
	height:2.2em;
	width:80%;
	border:1px solid  #4C6F29; /* medium green */
	border-radius:7px;
	margin: 16px;
	display: inline-block;
}
.message-button{
	width:10%;

}
.message-button-grey { 
	background-color: gray;
}
.message-button-grey:hover{
	background-color: gray;
}
.container {
	display: grid;
	grid-auto-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-auto-rows: 4.25em 4.25em 1fr 4.25em;
	grid-gap: 0em 0em;
	background-image: url(../assets/swirl_pattern.png);

}

.logo-area {
	grid-area: 1 / 1 / 2 / 2;
    height: 4.25em;
	width: auto;
    background-color: #e6ece4; /* light green */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 2;
	top:0;

}
.logo {
    font-family: 'Zen Tokyo Zoo', sans-serif;
    color: #4C6F29; /* medium green */
    font-size: 2.5em;
	letter-spacing: -0.09em;
	display:inline-block;
    margin-block-start: 0.2em;
    margin-block-end: 0.5em;
    margin-inline-start: 0.5em;
    margin-inline-end: 0.2em;
}

.dropdown-menu {
	grid-area: 1 / 2 / 2 / 6;
    height:4.25em;
	background-color: #e6ece4; /* light green */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 2;
	top:0;
}

.delete-button-container{
	grid-area: 1 / 6 / 2 / 7; 
    height:4.25em;
	align-content: right; 
	background-color: #e6ece4; /* light green */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 2;
	top:0;
}
.add-menu-button {
	grid-area: 1 / 7 / 2 / 8;
	height:68px;
	background-color: #e6ece4; /* light green */
	width: auto;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 2;
	top:0;
}

.collapse {
	grid-area: 2 / 1 / 3 / 8;
	background-color: #F5F5F5; /* light gray */
	height: auto;
	position: -webkit-sticky; /* Safari */
	position: sticky;
	z-index: 2;
	top: 4.25em;

}
.board-content {
	grid-area: 3 / 1 / 4 / 8;
	width: 50em;
	margin: auto;
	margin-bottom:30px;
	padding-top:20px;
	background-color: white;
	border-radius: 0.4375em;
}

.card-display {
	display: flex;
	margin:auto;
	flex-wrap:wrap;
	z-index: 0;
}
.add-message {
	grid-area: 4 / 1 / 5 / 8;
	background-color: #F5F5F5; /* light gray */
	position: -webkit-sticky; /* Safari */
	position: sticky;
	bottom: 0;
}

.message {
	height: 12.5em;
	width: 12.5em;
	background-color: #e6ece4; /* light green */
	border-radius: 7px;
	padding: 0.625em;
	text-align: center;
	margin: 0.9em;
	position: relative;
}
.message-text{
	font-size: 20px;
	margin-top: 30px;
}
.likes{
	display: inline-block;
	position: absolute;
	color:#4C6F29; /* medium green */
	bottom: 0;
	left: 0;
	margin-left: 10px;

}
.like-button{
	width: 30px;
	height: 30px;
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	position: absolute;
	bottom: 0;
	right: 0;
}
.delete_X{
	width: 30px;
	height: 30px;
	background-color: #e6ece4; /* light green */
	border: none;
	font-size: larger;
	font-weight: 500;
	color: #4C6F29; /* medium green */
	display: inline-block;
	vertical-align: middle;
	margin: 10px;
	position: absolute;
	top: 0;
	right: 0;
}
.delete_X:hover{
	background-color: #e6ece4; /* light green */
	border: 1px solid #4C6F29; /* medium green */
	color: black;
}
