
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Edu+VIC+WA+NT+Beginner:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pirata+One&display=swap');
.App {
    text-align: center;
    font-family: 'Edu VIC WA NT Beginner', cursive;
}

.App-header {
    height: 20vh;
    font-family: 'Caveat', cursive;
    background-color: white;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-evenly;
    font-size: calc(10px + 2vmin);
    color: rgb(5, 5, 5);
    top: 2px;
}

.App-header h1 {
    font-size: 50px;
    position: absolute;
    left: 50px;
    top: 10px;
    transform: rotate(-5deg) skew(-10deg);
    background-color: rgb(194, 231, 140);
    padding: 10px;
}

.App-header h1:hover {
    background-color: black;
    color: rgb(194, 231, 140);
}

h2 {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    font-size: 20px;
    font-family: 'Permanent Marker', cursive;
    background-color: white;
    box-sizing: content-box;
    box-shadow: -15px 10px black;
    border: 2px solid black;
    width: fit-content;
    height: fit-content;
    padding: 15px;
    margin-left: 70px;
    border-radius: 5px;
}

h2:hover {
    color: rgb(194, 231, 140);
    box-shadow: -15px 10px rgb(194, 231, 140);
    border: 2px solid rgb(194, 231, 140);
}

.box-container {
    display: grid;
    grid-template-areas: 
    'board selected-board new-board'
    'card-list card-list new-card';
    row-gap: 40px;
    
}

.board {
    grid-area: board;
    min-width: 400px;
    max-width: 1fr;
    align-self: start;
}

.selected-board {
    grid-area: selected-board;
    min-width: 400px;
    align-self: start;
    max-width: 1fr;
}

.new-board {
    grid-area: new-board;
    min-width: 400px;
    align-self: start;
    max-width: 1fr;
}

.card-list {
    grid-area: card-list;
    min-width: 400px;
    align-self: start;
} 

.new-card {
    grid-area: new-card;
    min-width: 400px;
    align-self: start;
    max-width: 1fr;
}

.boards-list {
    max-height: 9rem;
    min-height: 9rem;
    overflow: scroll;
    margin-right: 2.5rem;
    border: black solid 1px;
    margin-left: 50px;
    text-align: left;
    font-family: 'Delius', cursive;
    margin-top: 40px;
    
}
ol {
    display: block;
    list-style-type: decimal;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-end: 0px;
    margin-inline-start: 0px;
}

.new-board-form, .new-card-form, .hide-display-form, #sort-button, .selected-board-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 70px;
}

.invalid-form-input {
    border-color:aquamarine;
    box-shadow: 4px 4px 8px rgb(200, 207, 61);
    margin-bottom: 8px;
    
}

.hide-display-form {
    border: 2px solid black;
    padding: 7px;
    width: fit-content;
    margin-top: 30px;

}

.hide-display-form:hover {
    color:rgb(106, 174, 5);
    border: 2px solid rgb(106, 174, 5);
}

.label {
    margin-bottom: 8px;
    margin-top: 8px;
}

.selected-board-content {
    margin-top: 40px;
    color: rgba(93, 152, 4, 0.669);
    
}
.card-item {
    background-color: rgb(194, 231, 140);
    box-shadow: -10px 7px 7px lightgrey;
    min-height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    flex-direction: column;
    border-radius: 5px;
    font-family: 'Pirata One', cursive;
    margin-left: 35px;
}

.cards_list_no_bullets {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
    margin: 2rem;
}

.card-item__controls {
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    display: flex;
    padding: 0;
    width: 100%;
    justify-content: space-evenly;
}

.card-item__message {
    text-align: center;
    font-size: 1.4rem;
    word-break: break-word;
}

input {
    box-sizing: content-box;
    color: rgb(228, 60, 222);
    
}

.submit, .form-submit-btn {
    color: black;
}

.submit:hover, .form-submit-btn:hover {
    background-color: rgb(194, 231, 140);
}

.App-link {
    color: #61dafb;
}

.card-likes, .delete-card {
    margin-left: 10px;
    margin-right: 5px;
}

.card-likes:hover, .delete-card:hover {
    background-color: orange;
}

.preview {
    color: rgb(228, 60, 222);
    margin-left: 10px;
}