@import url('https://fonts.googleapis.com/css2?family=Patrick+Hand&display=swap');


body {
  height: 100vh;
  width: 100%;
  background-color: #fdf5ee;
}

.container {
  width: 100%;
  display: grid;
  grid-template-areas: 
  "header header"
  "board boardform"
  "cards cards"
  "footer footer";
  align-items: center;
}

.header {
  grid-area: header;
  text-align: center;
}

.board, .boardform{
  border-radius: 15px;
  background-color: rgb(228, 132, 100);
  text-align: center;
  padding: 1em;
}

.board {
  grid-area: board;
  height: 300px;
  width: 400px;
}

.boardform {
  grid-area: boardform;
  color: white;
  background-color: rgb(228, 132, 100);
  height: 300px;
  width: 400px;
}

.boardform-hidden {
  grid-area: boardform;
  color: white;
  background-color:#fdf5ee;
  height: 300px;
  width: 400px;
}

.cards {
  margin: 1em;
  padding: 0.5em;
  grid-area: cards;
  border: 10px rgb(101, 80, 53) solid;
  background-image: url("https://img.freepik.com/premium-photo/background-brown-cork-board-texture-close-up_77190-2560.jpg?w=2000");
  opacity: 90%;
  text-align: center;
}

.cards h2 {
  background-color: rgb(228, 132, 100);
  padding: 7px;
  width: 20%;
  border: rgb(101, 80, 53) 4px solid;
}

.cardform {
  text-decoration:none;
  color:#000;
  background:rgb(204, 255, 253);
  box-shadow: 5px 5px 7px rgba(33,33,33,.7);
  display:block;
  height:15em;
  width:15em;
  padding:1em;}

.footer {
  grid-area: footer;
  text-align: center;
  margin: 1em;
  padding: 0.5em;
  font-style: italic;
  font-weight:lighter;
  font-size: small;
}

h1, h2, h3, li {
  font-family: Patrick Hand;
}

h1 {
  font-size: 60px;
  color: #31b090;
}
h2, h3 {
  font-size: 30px;
  color: rgb(254, 254, 254);
}
h4 {
  font-size: 20px;
  color: rgb(254, 254, 254);
}

input[type=text] {
  width: 80%;
  padding: 10px;
  border: 2px solid white;
  font-size: 20px;
  background-color: white;
  color: black;
  font-family: Patrick Hand;
} 

input[type=text]:focus {
  outline: none;
}

/* Buttons */
.startButton, .boardform-button, .deleteButton {
  appearance: button;
  background-color: #31b090;
  border: solid 1px white;
  border-radius: 10px;
  border-width: 0 0 4px;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: din-round,sans-serif;
  font-size: 15px;
  font-weight: 700;
  letter-spacing: .8px;
  line-height: 20px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 13px 16px;
  text-align: center;
  text-transform: uppercase;
  touch-action: manipulation;
  transform: translateZ(0);
  transition: filter .2s;
  user-select: none;
  -webkit-user-select: none;
  vertical-align: middle;
  width: 150px;
}

.startButton:after {
  background-clip: padding-box;
  background-color: #31b090;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.startButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.startButton:disabled {
  cursor: auto;
}

.deleteButton:after {
  background-clip: padding-box;
  background-color: #31b090;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.deleteButton:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.deleteButton:disabled {
  cursor: auto;
}

.boardform-button:after {
  background-clip: padding-box;
  background-color: #31b090;
  border: solid transparent;
  border-radius: 16px;
  border-width: 0 0 4px;
  bottom: -4px;
  content: "";
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
}

.boardform-button:hover:not(:disabled) {
  filter: brightness(1.1);
  -webkit-filter: brightness(1.1);
}

.boardform-button:disabled {
  cursor: auto;
}
