body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'SpaceFont',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color:white;
  min-height: 100vh;
  font-size: 1.2em;
  position: relative;

}

@font-face {
  font-family: 'SpaceFont';
  src: local('SpaceFont'), url(./fonts/spacefont.woff2) format('woff2');
}

a {
color:white;
text-decoration: none;
padding: 14px 25px;
}

a:hover {
  color: hotpink;
  text-decoration: underline;

}

.HomeLink {
  float:right;
  padding: 20px;
  font-size: 2rem;
  text-decoration: none;
  text-align: center;
  margin-right: 100px;
  margin-top: 20px;
  background-image: url("./data/Earth.png");
  background-size: cover;
  color:white;
  height:170px;
  width:170px;
  z-index: 2;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
